{% assign lessons = site.pages | where_exp: 'item', 'item.lesson_id != nil' | sort: 'order' %}
<script id="lesson-data" type="application/json">
  [
  {% for item in lessons %}
    {% assign cue_chunk = site.data.chunks | where: 'id', item.new_chunk_ids.first | first %}
    {% assign scenario = site.pages | where: 'scenario_id', item.scenario_id | where_exp: 'entry', 'entry.lesson_id_ref != nil' | first %}
    {
      "id": {{ item.lesson_id | jsonify }},
      "title": {{ item.title | jsonify }},
      "description": {{ item.description | jsonify }},
      "target": {{ item.target | jsonify }},
      "cue": {{ cue_chunk.cue | jsonify }},
      "url": {{ item.url | relative_url | jsonify }},
      "scenario": {{ scenario.url | relative_url | jsonify }},
      "order": {{ item.order | jsonify }},
      "prerequisites": {{ item.prerequisite_lesson_ids | jsonify }},
      "chunks": {{ item.new_chunk_ids | jsonify }}
    }{% unless forloop.last %},{% endunless %}
  {% endfor %}
  ]
</script>
